/*#region Theme changes*/

.page-body {
    padding: 15px 15px 15px !important;
}

.my-capium:hover {
    background-color: transparent !important;
    text-decoration: none;
}

.menu-compact .sidebar-menu li.active:before {
    display: block;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area .module-area .avatar {
    border-left: none !important;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu li.dropdown-footer {
    padding: 8px 8px 8px 10px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-module-area > li {
    border-bottom: 1px solid #f5f5f5;
}

    .navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-module-area > li:hover,
    .navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-module-area > li a:hover {
        background-color: #f5f5f5;
    }

.navbar .navbar-inner .navbar-header .navbar-account .account-area .module-area {
    padding: 8px 20px 10px 20px;
    height: 45px;
    opacity: 1;
    position: relative;
    cursor: pointer;
}

    .navbar .navbar-inner .navbar-header .navbar-account .account-area .module-area .avatar {
        margin-right: 14px;
        display: block;
        float: left;
        border-left: 2px solid #fb6e52;
        width: 29px;
        height: 29px;
    }

        .navbar .navbar-inner .navbar-header .navbar-account .account-area .module-area .avatar img {
            width: 18px;
            height: 18px;
            margin-top: 5px;
        }

    .navbar .navbar-inner .navbar-header .navbar-account .account-area .module-area section {
        width: auto;
        display: block;
        overflow: hidden;
        line-height: 25px;
        float: left;
    }

        .navbar .navbar-inner .navbar-header .navbar-account .account-area .module-area section h2 {
            font-size: 14px;
            font-weight: 400;
            white-space: nowrap;
            margin: 0;
        }

            .navbar .navbar-inner .navbar-header .navbar-account .account-area .module-area section h2 span {
                display: block;
                color: #fff;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                text-decoration: none;
                line-height: 25px;
            }

    .navbar .navbar-inner .navbar-header .navbar-account .account-area .module-area + .dropdown-menu {
        width: 100%;
        min-width: 100px;
    }

    .navbar .navbar-inner .navbar-header .navbar-account .account-area .module-area + .dropdown-arrow:before {
        width: 100%;
    }

.navbar .sidebar-collapse {
    left: 1px;
    width: 42px;
    height: 45px;
    margin-left: 4px;
}

    .navbar .sidebar-collapse.active .collapse-icon {
        padding: 11px 15px;
    }

.tab-content {
    background-color: #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #fff;
}

.modal-header .close {
    margin-top: -7px;
}

.modal-blue .modal-header {
    /*background: #2DC3E8;
    color: #fff;
    border-bottom: none !important;*/
    
    background: #fff;
    color: #617d8a;
    border-bottom: 1px solid #e5e5e5 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    text-align: center;
}

.modal-danger .modal-header {
    /*background: #d73d32;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-success .modal-header {
    /*background: #53a93f;
        color:#fff;
    */
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-warning .modal-header {
    /*background: #f4b400;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-silver .modal-header {
    /*background: #777;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-inverse .modal-header {
    /*background: #444;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-blueberry .modal-header {
    /*background: #6f85bf;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-palegreen .modal-header {
    /*background: #a0d468;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-orange .modal-header {
    /*background: #fb6e52;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-darkorange .modal-header {
    /*background: #ed4e2a;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-magenta .modal-header {
    /*background: #bc5679;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-purple .modal-header {
    /*background: #7e3794;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-maroon .modal-header {
    /*background: #981b48;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

.modal-primary .modal-header {
    /*background: #4374e0;
    color: #fff;*/
    color: #617d8a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    background: #fff;
}

/*.modal-blue-full .modal-header {
    /*background: #2DC3E8;
    text-align: center !important;
    color: #fff;
}*/
.modal-blue-full .modal-header {
    background: #fff;
    color: #617d8a;
    border-bottom: 1px solid #e5e5e5 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    text-align: center;
}

    .modal-blue .modal-header .close, .modal-danger .modal-header .close, .modal-success .modal-header .close, .modal-warning .modal-header .close, .modal-blue-full .modal-header .close {
        color: #fff;
    }

.modal-footer {
    /*padding-top: 12px;
    padding-bottom: 14px;
    border-top: thin;
    background-color: #f5f5f5;*/

    background-color: #fff;
    border-top: 1px solid #e5e5e5 !important;
}

.modal-backdrop {
    background-color: #000;
}

    .modal-backdrop.in {
        zoom: 1;
        filter: alpha(opacity=50);
        -webkit-opacity: .5;
        -moz-opacity: .5;
        opacity: .5;
    }

.close {
    filter: alpha(opacity=70);
    opacity: .7;
}

    .close:hover,
    .close:focus {
        filter: alpha(opacity=100);
        opacity: 1;
    }

.table thead tr {
    background-color: #eeeeee;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
    background-image: -moz-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
    background-image: -o-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
    background-image: linear-gradient(to bottom, #f2f2f2 0, #fafafa 100%);
    font-size: 12px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color: #fff;
		margin-bottom:10px;
}

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus {
        color: #262626;
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
		margin-bottom:3px;
    }

.form-control, select {
    background-color: #fff;
}

    .form-control:focus,
    select:focus {
        color: #262626;
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }

input[type=checkbox]:focus ~ .text:before,
input[type=radio]:focus ~ .text:before {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.select2-container--default .select2-selection--single:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.label {
    font-weight: 400;
    font-size: 13px;
}

/*#region Custom CSS Classes*/
/*.btn.btn-cancel {
    /*width: 34px;
    height: 34px;
    float: left !important;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    text-align: center;
    vertical-align: central;
    padding: 6px 0;

    /*width: 0px;
    height: 0px;
    border: 0;
    background: transparent;
}*/
.btn.btn-cancel { /*width: 0;height: 0;*/
    float: left !important;
    border-radius: 0 !important;
    background-clip: padding-box;
    text-align: center;
    vertical-align: central;
    padding: 6px 0;
    border: 0;
    background: transparent !important;
    font-weight: 500;
}

    .btn.btn-cancel:hover {
        color: #444 !important;
    }
      
    .btn.btn-cancel > .fa,
    .btn.btn-cancel .typcn,
    .btn.btn-cancel .glyphicon,
    .btn.btn-cancel > [class*="wi-"] {
        /*font-size: 14px;
        margin: 0 auto;
        line-height: 21px;*/
    }

.ui-autocomplete {
    position: absolute;
    z-index: 2000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    width: 400px !important;
    overflow-x: hidden;
    overflow-y: auto;
}

    .ui-autocomplete > li {
        padding: 3px 10px;
    }

        .ui-autocomplete > li > a {
            text-decoration: none;
            color: #505050;
        }

        .ui-autocomplete > li.ui-state-focus {
            background-color: #DDD;
        }

        .ui-autocomplete > li.ui-autocomplete-category {
            font-weight: 500;
            border-bottom: 1px solid #ddd;
        }

.ui-helper-hidden-accessible {
    display: none;
}

.col-action {
    padding: 4px !important;
}

.navbar .sidebar-collapse {
    left: 1px;
    width: 42px;
}

.navbar-brand {
    line-height: 36px;
}

.navbar .navbar-brand {
    margin-left: 45px;
}

    .navbar .navbar-brand small img {
        width: auto;
    }

.navbar .navbar-inner .navbar-header .navbar-account .account-area {
    right: 0;
}

.page-sidebar .sidebar-header-wrapper {
    z-index: 1001;
}

    .page-sidebar .sidebar-header-wrapper .sidebar-header-title {
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        width: 98%;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

.menu-compact .sidebar-header-wrapper .sidebar-header-title {
    display: none
}

#s2id_cboCompaniesList {
    margin: 5px 0 0 15px;
    min-width: 250px;
    max-width: 290px;
}

#btnChangeCompany .select2-container {
    margin-top: 6px;
    margin-left: 20px;
    min-width: 250px !important;
    max-width: 300px !important;
}

#btnChangeCompany .select2-container--default .select2-selection--single {
    /*background: #2dc3e8 !important;*/
    background: #222b38 !important;
    border: 0 !important;
}

#btnChangeCompany .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #222b38 !important;
    color: white;
}

#btnChangeCompany .select2-selection__rendered {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 285px;
}

#btnChangeCompany .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 0;
    color: #fff
}

#btnChangeCompany .select2-container--open {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.select2-hidden-accessible {
    height: 0 !important;
    width: 0 !important;
}

.select2-container--default .select2-selection--multiple {
    height: auto !important;
}

.select2-search--inline .select2-search__field {
    border: none !important;
    border-color: transparent !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.table-toolbar {
    padding-top: 0;
}

.page-sidebar .sidebar-menu .submenu li.active > a {
    color: #262626;
    background-color: rgb(237, 237, 237);
}

.table thead.bordered-azure > tr > th {
    /*border-bottom: 3px solid #2dc3e8 !important;*/
    border-bottom: 3px solid #624096 !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.btn-azure:focus {
    background-color: #4da1ff !important;
    color: #ffffff;
}

/*.btn.btn-link {
    border: none !important;
    background: transparent none !important;
    padding: 0px !important;
    /*color: #21b7dc !important;
    color: #008eb1 !important;
    -webkit-text-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}*/

.btn.btn-link {
    border: none !important;
    background: transparent none !important;
    padding: 0px !important;
    /*color: #21b7dc !important;*/
    /*color:#008eb1 !important;*/
    color: #4da1ff !important;
    -webkit-text-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.col-refno {
    padding: 4px !important;
    padding-left: 15px !important;
}

.btn.btn-link_red {
    border: none !important;
    background: transparent none !important;
    padding: 0px !important;
    color: #df5138 !important;
    -webkit-text-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.error-container {
    display: none;
    position: absolute;
    padding: 6px;
    background-color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 1px white;
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #f9f2ba;
    border: 1px solid #e9d315;
    box-shadow: none;
    margin-top: -34px;
    z-index: 99;
}

.has-error:hover .error-container, .has-error:focus .error-container {
    display: block !important;
    z-index: 99999;
}

.error-container label {
    border: 0 !important;
    color: #5b5316;
    width: auto !important;
    padding: 0;
    font-weight: normal;
    line-height: 11px;
    margin-bottom: 0px;
}

.error-container:before, .error-container:after {
    content: "";
    position: absolute;
    left: 17px;
    border-style: solid;
    border-width: 8px 7px 0;
    border-top-color: #f9f2ba;
    display: block;
    width: 0;
    z-index: 1;
}

.error-container:before {
    bottom: -9px;
    border-color: #e9d315 transparent;
}

.error-container:after {
    bottom: -8px;
    border-color: #F9F2BA transparent;
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .hidden-mm {
        display: none !important;
    }
}

@media (min-width: 1300px) and (max-width: 1366px) {
    .hidden-mmm {
        display: none !important;
    }
}

.ellipsis {
    max-width: 200px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.hideoverflow {
    overflow: hidden;
    max-height: 18px;
}

.dropdown-modules {
    min-width: 325px !important;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-modules li .notification-icon i {
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    font-size: 12px !important;
}

.bg-bk {
    background-color: #b7d679 !important;
}

.bg-pr {
    background-color: #a490c3 !important;
}

.bg-ap {
    background-color: #f4b065 !important;
}

.bg-ct {
    background-color: #7c87bf !important;
}

.bg-sa {
    background-color: #57bcd8 !important;
}

.bg-pm {
    background-color: #beb260 !important;
}
.bg-capisign {
    background-color: #624096 !important;
}

.note-editor .note-toolbar {
    padding-top: 0 !important;
}

/*.form-group { margin-bottom: 10px !important; }*/

.sidebar-fixed .footer {
    position: relative;
    /* Set the fixed height of the footer here */
    height: 38px;
    z-index: 9999;
    display: block;
    margin: 0 0 0 5px;
}

.menu-compact .footer {
    display: none;
}

.countrycodedrpwdt span.select2-container {
    width: 120px !important;
}